@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party</title>
    </head>
    <body>
        <div>
            <div>
                You're invited!
            </div>
            <!-- vv This is called linking action methods vv -->
            <a asp-action="RsvpForm">RSVP Now!!</a>
        </div>
    </body>
</html>