@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Thanks</title>
    </head>
    <body class="text-center">
        <div>
            <h1> Thank you, @Model?.Name!</h1>
            @if(Model?.WillAttend == true) {
                @:Its great to hear youre coming. The drinks are already in the fridge!
            } else {
                @:Sorry to hear you cant make it, but thanks for letting me know!
            }
        </div>
        Click <a asp-action="ListResponses">here</a> to see who is coming!
    </body>
</html>