<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>SportsStore</title>
    </head>
    <body>
        <div>
            <!-- This file tells all other views to render in place of RenderBody -->
            @RenderBody()
        </div>
    </body>
</html>